streamlit==1.32.0
plotly==5.18.0
pandas==2.2.2
numpy==1.26.4
scikit-learn==1.4.2
pulp==2.8.0
matplotlib==3.8.4
seaborn==0.13.2
psutil==5.9.8
slack_sdk==3.27.1
requests==2.31.0
email_validator==2.1.0.post1
